@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  font-family: 'Open sans', sans-serif;
}

.text {
  font-size: 16px;
}

.list {
  list-style: none;
}

.section {
  padding-block: 48px;
  padding-inline: 32px;
}

.section__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

.section__sub-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.header {
  position: relative;
  height: 80vh;
  background-image: url(../img/IMG20220116122456_minit.png);
  background-position: 60%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header__logo {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.header .nav-desktop {
  display: none;
}

.header .nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 3;
  background-color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .nav-mobile.active {
  width: 50%;
}

.header .nav-mobile__up-top-arrow {
  opacity: 0;
  position: fixed;
  bottom: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 35px;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

.header .nav-mobile__up-top-arrow.active {
  opacity: 1;
}

@media (min-width: 1024px) {
  .header .nav-mobile__up-top-arrow .fa-arrow-circle-up {
    font-size: 60px;
  }
}

@media (min-width: 1025px) {
  .header .nav-mobile__up-top-arrow .fa-arrow-circle-up {
    display: none;
  }
}

.header .nav-list {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  overflow: hidden;
}

.header .nav-list .mobile-btn {
  display: block;
  width: 100%;
  margin: 20px 0;
  border-style: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}

.header .hamburger {
  font-size: 25px;
  color: #fff;
}

.header .hamburger__icon-bars, .header .hamburger__icon-arrow {
  display: none;
  position: absolute;
}

.header .hamburger__icon-bars.active {
  display: block;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 0 0 0 30%;
}

.header .hamburger__icon-arrow.active {
  display: block;
  top: 3vh;
  left: 3vh;
}

.offer {
  -webkit-box-shadow: 0px 0px 15px 0px #757474;
          box-shadow: 0px 0px 15px 0px #757474;
}

.offer__services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.offer__services-img {
  width: 28px;
  height: 28px;
  margin-right: 12px;
}

.offer__text {
  margin-bottom: 50px;
}

.contact {
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 0px #757474;
          box-shadow: 0px 0px 15px 0px #757474;
  background-color: #ddd;
}

.contact__form {
  display: none;
}

.contact__sub-title {
  margin-bottom: 50px;
}

.contact__info-item {
  margin-bottom: 20px;
}

.contact__info-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  text-decoration: none;
}

.contact__info-img {
  width: 50px;
  margin-left: 25px;
  margin-right: 12px;
}

.contact__info-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer {
  padding: 10px 30px;
  text-align: center;
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */