* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
}

.wrapper {
    /* max-width: 1600px; */
    margin: 0 auto;
}

p,
span {
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

/* Header Section */
header {
    position: relative;
    height: 80vh;
    background-image: url(img/header.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.nav-bgc {
    background-color: #000;
}

.phone {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

}

.phone i,
.phone p {
    margin-right: 25px;
    font-size: 18px;
}

.buttons {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.buttons button {
    margin: 10px 10px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    border-style: none;
    color: #fff;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
}

.buttons button:hover {
    border-color: #fff;
    color: #eee;
}

/* End Header Section */

/* Offer Section */
.offer {
    position: absolute;
    width: 80%;
    height: 94vh;
    top: 73vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-image: url(img/offer-img.jpeg);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 45%;
    background-position: 93% 60%;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 0px rgb(117, 116, 116);
    z-index: 2;
}

.offer h1,
.offer h2,
.offer p {
    width: 50%;
    margin-left: 12px;
    margin-bottom: 14px;
}

.offer h1 {
    margin-top: 70px;
}

.offer h2 {
    margin-top: 60px;
    margin-bottom: 14px;
}

.offer .check-img {
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 28px;
    /* padding: 10px 50px 10px 50px; */
}

.offer .check-img img {
    margin-right: 15px;
    width: 3%;
}

.offer span {
    font-size: 16px;
}

/* End Offer Section */

/* Contact Section */
.contact {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 160vh;
    left: 0;
    box-shadow: 0px 0px 15px 0px rgb(117, 116, 116);
    z-index: 1;
    background-color: #ddd;
}

.contact h1 {
    margin-top: 110px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 45px;
}

.info-wrapper {
    top: 39vh;
    right: 10vw;
}

.info-wrapper,
form {
    position: absolute;
}

form {
    display: flex;
    top: 40vh;
    flex-direction: column;
    width: 30%;
    left: 10vw;
}

form button {
    width: 20%;
    margin-top: 8px;
    align-self: center;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    font-family: 'Open sans';
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    text-decoration: underline;
}

input {
    height: 25px;
}

input,
textarea {
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
}

input::placeholder,
textarea::placeholder {
    padding-left: 3px;
    font-family: 'open sans condensed';
    font-size: 15px;
    color: #000;

}

.contact-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.contact-img img {
    width: 18%;
    margin-right: 20px;
}

/* End Contact Section */

/* Footer Section */
footer {
    position: absolute;
    top: 260%;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    z-index: 2;
}

/* End Footer Section */