* {
    padding: 0;
    margin: 0;
}

body {
    /* height: 200vh; */
    font-family: 'Roboto', sans-serif;
}

/* section,
footer {
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
} */

/* Header Section */
header {
    position: relative;
    height: 80vh;
    background-image: url(img/img-bg-smaller.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 3;
}

.phone {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #fff;
}

.phone i {
    margin-right: 15px;
    font-size: 30px;
}

.buttons {
    margin: 20px 100px;
}

.buttons button {
    background-color: transparent;
    border-style: none;
    color: #fff;
    margin: 10px 15px;
    cursor: pointer;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s;
    overflow: hidden;
    border-bottom: 2px solid transparent;
}

.buttons button:hover {
    border-color: #fff;
    color: #eee;
}

/* End Header Section */

/* Offer Section */
.offer {
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px rgb(117, 116, 116);
    top: 73vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100vh;
    text-align: center;
}

.offer h1 {
    margin-top: 50px;
    font-size: 60px;
}

.offer h2 {
    margin-top: 80px;
}

.offer p {
    margin: 20px 150px 40px;
    font-size: 20px;
}

/* End Offer Section */

/* Contact Section */
.contact {
    box-shadow: 0px 0px 15px 0px rgb(117, 116, 116);
    position: absolute;
    top: 150vh;
    left: 0;
    z-index: 2;
    background-color: #ddd;
    width: 100%;
    height: 80vh;
}

.contact h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 60px;
    width: 100%;
}

.info-wrapper {
    top: 35vh;
    right: 5vw;
}

.info-wrapper,
form {
    position: absolute;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    top: 35vh;
    left: 5vw;
}

.info-wrapper p {
    margin-top: 15px;
}

/* End Contact Section */

/* Footer Section */
footer {
    position: absolute;
    top: 230%;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 2;
}

/* End Footer Section */