.page {
    font-family: 'Open sans', sans-serif;
}

.text {
    font-size: 16px;
}

.list {
    list-style: none;
}

.section {
    padding-block: 48px;
    padding-inline: 32px;

    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    &__sub-title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
    }

    @media(min-width: 1024px) {
        padding-inline: 100px;

        &__title {
            margin-bottom: 100px;
        }

        &__sub-title {
            margin-bottom: 20px;
        }
    }
}